<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/index.css" media="screen" title="no title" charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
          <div class="eight columns">
            <div id="content">
              <h3>Welcome home, <%= user %></h3>
            </div>
          </div>
            <div class="four columns text-right">
              <a href="/logout" class="button button-primary">Logout</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="twelve columns text-center">
          <a href="/addLoot" class="button button-primary">Add loot</a>
        </div>
      </div>

      <div class="row">
        <div class="twelve column">

          <% if (loot.length > 0) { %>

            <% loot.forEach(function(lootItem){  %>
              <div class="row">
                <div class="twelve column">
                  <%= lootItem.description %>
                </div>
              </div>
            <% }); %>

          <% } else { %>

            <p>
              You don't have any loot!
            </p>

          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
