<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="styles/index.css" media="screen" title="no title" charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
          <div class="eight columns">
            <div id="content">
              <h3>Add loot...</h3>
            </div>
          </div>
            <div class="four columns text-right">
              <a href="/logout" class="button button-primary">Logout</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="twelve columns text-center">
          <a href="/addLoot" class="button button-primary">Add loot</a>
        </div>
      </div>

      <div class="row">
        <div class="twelve column">
          <form action="/loot/add" method="POST">
            <div class="row">
              <div class="six columns">
                <label for="lootType">Type</label>
                <select class="u-full-width" id="lootType" name="lootType">
                  <% lootType.foreach(function(type) {  %>
                    <option value="<%= type.id %>"><%= type.name %></option>
                  <% }); %>
                </select>
              </div>
            </div>
            <input class="button-primary" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
