<% include common/header/header %>

      <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
              <h4>Welcome, Vault Dweller...</h4>
              <div class="alert alert-info">Please register your details</div>

              <% if (message) { %>

                <h6><%= message %></h6>

              <% } %>

              <form action="/register" method="POST">
                <div class="form-group">
                    <label class="control-label" for="vaultDweller">Name</label>
                    <input class="form-control" type="text" name="vaultDweller">
                </div>
                <div class="form-group">
                  <input class="btn btn-primary" type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>

<% include common/footer/footer %>
