<% include common/header/header %>

    <div class="container">
      <div class="row">
          <div class="twelve column">
            <div id="content">
              <h4>Welcome, Vault Dweller...</h4>
              <h5>Please register your details</h5>

              <% if (message) { %>

                <h6><%= message %></h6>

              <% } %>

              <form action="/register" method="POST">
                <div class="row">
                  <div class="six columns">
                    <label for="vaultDweller">Name</label>
                    <input class="u-full-width" type="text" name="vaultDweller">
                  </div>
                </div>
                <input class="button-primary" type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
    </div>

<% include common/footer/footer %>
