<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="/img/logo.png">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/loot">Loot</a></li>
              <% if (user) { %>
                <% include loggedIn %>
              <% } else { %>
                <% include loggedOut %>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
