<div class="row">
    <div class="eight columns">
      <!-- LOGO? -->
    </div>
      <div class="four columns">
        <a href="/logout" class="button button-primary">Logout</a>
      </div>
</div>
