<div class="row">
  <div class="eight columns">
    <div id="content">
      <!-- LOGO? -->
    </div>
  </div>
    <div class="four columns">
      <a href="/login" class="button button-primary">Login</a>
    </div>
</div>
