<div class="row">
      <div class="twelve columns">
        <a href="/" class="button button-primary">Home</a>
        <a href="/loot" class="button button-primary">Loot</a>
        <a href="/logout" class="button button-primary">Logout</a>
      </div>
</div>
